# Default ignored files
/.idea/
/shelf/
/workspace.xml
/build/
# Editor-based HTTP Client requests
/httpRequests/

# Secret configs
src/main/resources/application-secret.yml
src/main/resources/application.properties
